# Better not Bigger

Case study from snorkel.

## Dataset

For the sake of simplicity, we will use the spam classification dataset from Kaggle.

## Setup

In [1]:
!python --version
!pip install transformers -q

Python 3.9.13
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
!pip install dataset -q

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

## Reading Dataset

In [4]:
import pandas as pd

spam = pd.read_csv('./spam_email_raw_text.csv')

print(spam.info())

spam.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5796 entries, 0 to 5795
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORY   5796 non-null   int64
 1   MESSAGE    5796 non-null   object
 2   FILE_NAME  5796 non-null   object
dtypes: int64(1), object(2)
memory usage: 136.0+ KB
None

,CATEGORY,MESSAGE,FILE_NAME
2469,0,Hindus mourn 'monkey god'\n\n\n\n\n\nBy Omer F...,00421.805fdd426ce515374b9e0b42a83a4042
5423,0,"hm, looks good:\n\nhttp://books.slashdot.org/a...",00031.7caef7fe7af2114d0e4bf6aa0faf3a03
668,1,This is a multi-part message in MIME format.\n...,00325.7e5ac4e91fba8111cce0e8dcc721912c
3940,0,"On Wed, Feb 06, 2002 at 04:14:27PM +0100, Matt...",01098.f1aee47bcb53f9e9810bc45602904ecb
5265,0,This MSDN mail thing reminds me of how I've do...,01307.abdc5c227ec610efe718e993567eebc2
2207,0,\n\nBTW: I remember messing about with such t...,01173.30be73e4da024638bfbdf5afc05b438f
3037,0,CDale wrote:\n\n> \n\n> I was wondering if any...,00617.5433c6be9644f6d773afef39392cb24c
2429,0,Gianni Ponzi wrote:\n\n> I have a prob when tr...,02498.09835f512f156da210efb99fcc523e21
1720,1,"<html>\n\n\n\n<body>\n\n\n\n<font size=""2"" PTS...",00454.ca6a81a702d62c23bc184a37a1cdb926
3536,0,"\n\nOn Tue, 10 Sep 2002 01:20:56 PDT,\n\n\tJ C...",00990.ee34876c3873d8e6197432ad9c558429

In [6]:
example_text = spam['MESSAGE'][0]

print(example_text)

example_text

Dear Homeowner,



Interest Rates are at their lowest point in 40 years!



We help you find the best rate for your situation by

matching your needs with hundreds of lenders!



Home Improvement, Refinance, Second Mortgage,

Home Equity Loans, and More! Even with less than

perfect credit!



This service is 100% FREE to home owners and new

home buyers without any obligation.



Just fill out a quick, simple form and jump-start

your future plans today!





Visit http://61.145.116.186/user0201/index.asp?Afft=QM10













To unsubscribe, please visit:



http://61.145.116.186/light/watch.asp

'Dear Homeowner,\n\n \n\nInterest Rates are at their lowest point in 40 years!\n\n\n\nWe help you find the best rate for your situation by\n\nmatching your needs with hundreds of lenders!\n\n\n\nHome Improvement, Refinance, Second Mortgage,\n\nHome Equity Loans, and More! Even with less than\n\nperfect credit!\n\n\n\nThis service is 100% FREE to home owners and new\n\nhome buyers without any obligation. \n\n\n\nJust fill out a quick, simple form and jump-start\n\nyour future plans today!\n\n\n\n\n\nVisit http://61.145.116.186/user0201/index.asp?Afft=QM10\n\n\n\n\n\n\n\n\n\n\n\n\n\nTo unsubscribe, please visit:\n\n\n\nhttp://61.145.116.186/light/watch.asp\n\n\n\n\n'

In [12]:
spam.drop(columns=['FILE_NAME'], inplace=True)
spam.head()

   CATEGORY                                            MESSAGE
0         1  Dear Homeowner,\n\n \n\nInterest Rates are at ...
1         1  ATTENTION: This is a MUST for ALL Computer Use...
2         1  This is a multi-part message in MIME format.\n...
3         1  IMPORTANT INFORMATION:\n\n\n\nThe new domain n...
4         1  This is the bottom line.  If you can GIVE AWAY...

## BLOOM Warm Start